.table {
    background: #000;
    font-size: 0.7rem;
    width: 100%;
}

.table > thead > tr > th {
    padding: 12px 5px;
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0.7rem;
    color: $account-dimmed;
    vertical-align: bottom;

    &:first-child {
        padding-left: 20px;
    }
}

.table > tbody > tr {
    border-bottom: 1px solid $border-color;
    padding-bottom: 5px;
}

.table > tbody > tr > td {
    // border-bottom: 1px solid #ddd;
    padding: 5px;
    &:first-child {
        padding-left: 20px;
    }
}

.table-hover > thead {
    border-bottom: 1px solid #444;
}

.table > tbody > tr:last-of-type > td {
    border-bottom: none;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #f5f5f5;
}

.key-value-table {
    tr > td:first-child {
        padding-left: 0 !important;
    }
    tr > td:last-child {
        text-align: right;
    }
}

.table.compact {
    td,
    th {
        font-size: 94%;
    }
}

/* Wrap table in div with this class to make horizontal scroll */
.responsive-table {
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
    max-width: 100%;
    width: 100vw;
}
